body{
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    margin: 0;
    height: 100vh;
    background:#fff url(http://img.ewebweb.com/uploads/20191203/19/1575371143-fxypWMJYdk.jpg) center center fixed no-repeat;
    background-size: cover; /*填滿*/
}

/* header */
#header{
    display: grid;
}

#header ul li{
    display: inline;
    margin-right: 20px;
}

#header ul li a{
    text-decoration:none;;
    color:rgb(180, 180, 180);
    font-size: 15pt;
    font-family: Microsoft JhengHei;
    font-weight:bold;
}

#header ul li a:hover{
    color: white;
}

/* main */
#main{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

#main #frist{
    display: grid;
    grid-template-columns: 1fr 500px;
    
}

/* 內容一 */
#frist #info{
    display: grid;
    grid-template-rows: 1fr 200px;
    margin-left: 100px;
    text-align: center;
    line-height: 200px;
    color: white;
}

#frist #info #l{
    width: 50px;
    height: 50px;
}

#frist #info img{
    width: 500px;
    height: 500px;
}

#frist #Flashing{
    display: none;
    position: absolute;
    right: 6vw;
    bottom: 10vh;
    text-align: center;
    height: 200px;
    width: 200px;
    line-height: 200px;
    border: 5px;
    border-radius:10px;
    color: white;
    font-size: 25pt;
    font-family:'華康少女文字W5',DFKai-SB;
    background-color:rgba(255, 255, 255, 0.5);
}

#frist #cat{
    display: none;
    position: absolute;
    right: -7vw;
    bottom: -9vh;
    width: 200px;
    height: 200px;
}

/* footer */
#footer{
    display: grid;
}